# Ánalise de Datase do preço da gasolina no Brasil em 2000 a 2010

In [31]:
import pandas as pd

## Carregar o conjunto de dados em dois DataFrames diferentes e combinar num unico DataFrame

In [32]:
df1 = pd.read_csv("/home/drack/Público/Aprendendo Pandas/Exercicios/gasolina_2000+.csv", index_col=0)
df2 = pd.read_csv("/home/drack/Público/Aprendendo Pandas/Exercicios/gasolina_2010+.csv", index_col=0)

/tmp/ipykernel_18293/3053006892.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("/home/drack/Público/Aprendendo Pandas/Exercicios/gasolina_2010+.csv", index_col=0)

In [33]:
df = pd.concat([df1, df2])

In [34]:
df1.shape

(42638, 18)

In [35]:
df2.shape

(78185, 18)

In [36]:
df.shape

(120823, 18)

## Investigar as colunas e entender o conjunto de dados usando o head() e info()

In [37]:
df.tail()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

In [39]:
# Margem média de revenda

df['MARGEM MÉDIA REVENDA'][0]

'0.463'

In [40]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

## Selecionar a terceira entrada da coluna DATA INICIAR e ver o tipo

In [41]:
type(df['DATA INICIAL'][2])

str

## Converter as datas para Timestamp

In [42]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

## Representar uma novo coluna com ano e o mês utilizando a coluna DATA FINAL como referência

In [43]:
df['ANO-MES'] = df['DATA FINAL'].apply(lambda x: "{}".format(x.year)) + df["DATA FINAL"].apply(lambda x: "/{:02d}".format(x.month))

## Listar todos os produtos

In [44]:
df.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'ANO-MES'],
      dtype='object')

In [45]:
df['PRODUTO'].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

## Filtrar o DataFrame para obter apenas dados da 'GASOLINA COMUM'

In [46]:
df_filtro = df['PRODUTO'] == 'GASOLINA COMUM'

In [47]:
df2 = df[df_filtro]

## Qual o preço médio da revenda de gasolina em agosto de 2008?

In [52]:
df2[df2['ANO-MES'] == '2008/08']['PREÇO MÉDIO REVENDA'].mean()

2.6012444444444442

## Qual o preço médio da revenda da gasolina em agosto de 2014 em São Paulo?

In [51]:
df2[(df2['ANO-MES'] == '2014/05') & (df2['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()

2.8822

## Descubra em quais estados a gasolina ultrapassou a barreira dos R$5,00?

In [53]:
df2[df2['PREÇO MÉDIO REVENDA'] >5]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
98201,2018-05-20,2018-05-26,NORTE,ACRE,GASOLINA COMUM,39,R$/l,5.053,0.184,4.930,5.459,0.797,0.036,4.256,0.132,4.07,4.4685,0.031,2018/05
98347,2018-05-27,2018-06-02,NORTE,ACRE,GASOLINA COMUM,11,R$/l,5.035,0.133,4.890,5.400,0.799,0.026,4.236,0.152,4.07,4.4542,0.036,2018/06
98493,2018-06-03,2018-06-09,NORTE,ACRE,GASOLINA COMUM,39,R$/l,5.038,0.197,4.840,5.459,0.664,0.039,4.374,0.084,4.2316,4.576,0.019,2018/06
98511,2018-06-03,2018-06-09,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,414,R$/l,5.016,0.144,4.459,5.599,0.541,0.029,4.475,0.108,4.1667,4.8321,0.024,2018/06
98646,2018-06-10,2018-06-16,NORTE,ACRE,GASOLINA COMUM,38,R$/l,5.031,0.206,4.840,5.459,0.686,0.041,4.345,0.081,4.2149,4.518,0.019,2018/06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021/05

In [54]:
df2[df2['PREÇO MÉDIO REVENDA'] >5][["ESTADO", "ANO-MES", "PREÇO MÉDIO REVENDA"]].head(20)

                ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201             ACRE  2018/05                5.053
98347             ACRE  2018/06                5.035
98493             ACRE  2018/06                5.038
98511   RIO DE JANEIRO  2018/06                5.016
98646             ACRE  2018/06                5.031
98797             ACRE  2018/06                5.036
98948             ACRE  2018/06                5.039
99098             ACRE  2018/07                5.021
99247             ACRE  2018/07                5.042
99398             ACRE  2018/07                5.038
99549             ACRE  2018/07                5.033
99701             ACRE  2018/08                5.031
99852             ACRE  2018/08                5.015
100003            ACRE  2018/08                5.023
100153            ACRE  2018/08                5.036
100302            ACRE  2018/09                5.018
100453            ACRE  2018/09                5.074
100604            ACRE  2018/09                5.129
100756            ACRE  2018/09                5.153
100774  RIO DE JANEIRO  2018/09                5.036

## Preço Médio dos estados da região sul em 2012

In [55]:
df_aux = df2[df2['DATA FINAL'].apply(lambda x: x.year) == 2012]

In [56]:
df_aux

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
22728,2012-01-01,2012-01-07,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,80,R$/l,2.834,0.005,2.830,2.850,0.285,0.002,2.549,0.008,2.536,2.559,0.003,2012/01
22729,2012-01-01,2012-01-07,CENTRO OESTE,GOIAS,GASOLINA COMUM,256,R$/l,2.853,0.089,2.550,3.080,0.347,0.031,2.506,0.081,2.391,2.726,0.032,2012/01
22730,2012-01-01,2012-01-07,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,137,R$/l,2.996,0.078,2.790,3.250,0.464,0.026,2.532,0.069,2.329,2.68,0.027,2012/01
22731,2012-01-01,2012-01-07,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,131,R$/l,2.728,0.147,2.530,3.048,0.33,0.054,2.398,0.056,2.295,2.55,0.023,2012/01
22732,2012-01-01,2012-01-07,NORDESTE,ALAGOAS,GASOLINA COMUM,97,R$/l,2.778,0.065,2.690,2.960,0.439,0.023,2.339,0.033,2.262,2.4367,0.014,2012/01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24127,2012-12-23,2012-12-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,736,R$/l,2.877,0.115,2.549,3.799,0.357,0.040,2.52,0.058,2.335,2.7009,0.023,2012/12
24128,2012-12-23,2012-12-29,SUDESTE,SAO PAULO,GASOLINA COMUM,2376,R$/l,2.639,0.108,2.269,2.999,0.376,0.041,2.263,0.063,2.11,2.5222,0.028,2012/12
24129,2012-12-23,2012-12-29,SUL,PARANA,GASOLINA COMUM,564,R$/l,2.805,0.076,2.530,3.150,0.413,0.027,2.392,0.049,2.2336,2.595,0.02,2012/12
24130,2012-12-23,2012-12-29,SUL,RIO GRANDE DO SUL,GASOLINA COMUM,616,R$/l,2.775,0.099,2.530,3.099,0.415,0.036,2.36,0.048,2.244,2.5354,0.02,2012/12
24131,2012-12-23,2012-12-29,SUL,SANTA CATARINA,GASOLINA COMUM,386,R$/l,2.747,0.094,2.350,2.999,0.394,0.034,2.353,0.038,2.24,2.45,0.016,2012/12

In [57]:
df_aux[df_aux['REGIÃO'] == "SUL"]["PREÇO MÉDIO REVENDA"].mean()

2.7214423076923073

## Obter uma tabela contendo a variação percentual ano a ano para o estado do RJ

In [61]:
df2["MES"] = df2['DATA FINAL'].apply(lambda x: x.month)
df_rio = df2[df2["ESTADO"] == "RIO DE JANEIRO"]

/tmp/ipykernel_18293/1693244061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["MES"] = df2['DATA FINAL'].apply(lambda x: x.month)

In [63]:
df_month_rio = df_rio.groupby("ANO-MES")[["PREÇO MÉDIO REVENDA", "MES"]].last()

In [64]:
df_month_rio[df_month_rio["MES"] == 12]

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004/12                2.296   12
2005/12                2.508   12
2006/12                2.531   12
2007/12                2.540   12
2008/12                2.565   12
2009/12                2.607   12
2010/12                2.660   12
2011/12                2.849   12
2012/12                2.877   12
2013/12                3.072   12
2014/12                3.206   12
2015/12                3.862   12
2016/12                4.002   12
2017/12                4.548   12
2018/12                4.812   12
2019/12                4.995   12
2020/12                4.929   12

In [72]:
((df_month_rio[df_month_rio["MES"] == 12] / df_month_rio[df_month_rio["MES"] == 12].shift(1) - 1) *100).rolling(3).sum()

         PREÇO MÉDIO REVENDA  MES
ANO-MES
2004/12                  NaN  NaN
2005/12                  NaN  NaN
2006/12                  NaN  NaN
2007/12            10.506106  0.0
2008/12             2.256908  0.0
2009/12             2.977270  0.0
2010/12             4.654667  0.0
2011/12            10.775678  0.0
2012/12            10.121052  0.0
2013/12            14.865958  0.0
2014/12            12.122674  0.0
2015/12            31.601507  0.0
2016/12            28.448678  0.0
2017/12            37.729878  0.0
2018/12            23.072992  0.0
2019/12            23.250920  0.0
2020/12             8.286421  0.0

## Criar uma  tabela contendo uma série temporal com a diferença absoluta e percentual entre os valores mais baratos e caros

In [83]:
df_max = df2.groupby("ANO-MES").max()["PREÇO MÉDIO REVENDA"]
df_min = df2.groupby("ANO-MES").min()["PREÇO MÉDIO REVENDA"]

In [84]:
df_diff = pd.DataFrame()

In [85]:
df_diff

Empty DataFrame
Columns: []
Index: []

In [86]:
df_diff["abs_diff"] = df_max - df_min
df_diff["percent_diff"] = (df_max - df_min) / df_min + 100

In [87]:
df_diff

         abs_diff  percent_diff
ANO-MES
2004/05     0.550    100.291314
2004/06     0.584    100.305439
2004/07     0.609    100.314566
2004/08     0.530    100.261084
2004/09     0.539    100.265387
...           ...           ...
2021/01     1.383    100.361097
2021/02     1.688    100.409609
2021/03     2.109    100.460581
2021/04     1.450    100.303538
2021/05     1.391    100.285802

[204 rows x 2 columns]